@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

:root {
  background-color: rgb(206, 185, 145);
}

#root {
  max-width: 100vw;
  text-align: center;
  font-family: "Mate SC", serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(64, 48, 35);
}

body {
  padding: 15px;
}

header {
  justify-content: center;
  font-size: 4em;
  line-height: 1.1;
  background-image: url("./Hunter_s_Guild_Crest-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

header > h1 {
  margin: 0;
}

header > h2 {
  font-size: 1em;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(64, 48, 35, 0.87);
  color: wheat;
  scale: 1;
  transition: 0.1s;
}

button:hover {
  scale: 1.1;
  transition: 0.1s;
  cursor: pointer;
}

button:active {
  scale: 0.9;
  transition: 0.1s;
}

form {
  margin-top: 10px;
  width: 360px;
  display: inline flow-root;
}

form > label {
  font-size: 1.3em;
}

.search-field {
  margin: 10px;
  background-color: rgba(64, 48, 35, 0.87);
}

.list-subheader {
  font-size: 1.4rem;
}

.monster-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(103, 93, 75);
  color: rgb(210, 192, 155);
  padding-bottom: 25px;
  border-radius: 50px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 15px 15px;
  scale: 1;
  transition: 0.2s;
}

li > h3 {
  background-color: rgb(66, 55, 40);
  border-radius: 70px;
}

li > img {
  width: 200px;
  height: 200px;
}

li:hover {
  scale: 1.1;
  transition: 0.2s;
  cursor: pointer;
}

li:active {
  scale: 0.8;
  transition: 0.2s;
}

.panel-container {
  display: flex;
  justify-content: center;
}

.monster-panel {
  background-color: rgb(103, 93, 75);
  border-radius: 70px;
  width: 50em;
  padding: 30px;
  margin-top: 15px;
  color: rgb(210, 192, 155);
  box-shadow: 5px, 5px, 8px, 5px;
}

.monster-panel > img {
  width: 350px;
  height: 350px;
}

.monster-name {
  scale: 1.7;
}

.monster-name {
  margin-top: 0;
}

.monster-species {
  margin-bottom: 0;
}

.monster-desc {
  font-size: 1.2rem;
  color: rgb(64, 48, 35);
  padding: 5px;
  border-radius: 15px;
  background-color: rgb(185, 169, 140);
}

.error-msg {
  margin-bottom: 0;
}

@media only screen and (max-width: 1065px) {
  header {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .monster-panel > img {
    width: 150px;
    height: 150px;
  }

  .monster-panel {
    padding: 15px;
  }

  li > img {
    width: 100px;
    height: 100px;
  }

  header {
    font-size: 1em;
  }

  form {
    margin-top: 5px;
    width: 90%;
    display: block;
  }

  form > label {
    font-size: 1em;
  }

  .search-field {
    margin: 5px;
    background-color: rgba(64, 48, 35, 0.87);
  }
}
