#root {
  max-width: 100vw;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

header {
  justify-content: center;
}

form {
  align-items: center;
  justify-content: center;
}

.search-field {
  margin: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding-right: 15px;
  padding-left: 15px;
}

.monster-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
